<h2>Latests Posts</h2>
<br />

<% @results.each do |post| %>
	<p>
		Name: <%= post['name'] %>
		<br />
		<%= post['content'] %>
		<br />
		Added at <%= post['created_date'] %>
		<br />
		<a href="/detales/<%= post['id'] %>">comments</a>
	</p>

	<hr />
<% end %>