<h1>Add your post</h1>
<p>
	<form action="/new" method="POST" role="form">	 
		<input name="post[name]" type="text" class="form-control" placeholder="Enter Your name" value="<%= @p.name %>">
		</br>
		<textarea name="post[content]" class="form-control" rows="6" placeholder="Enter your post here"><%= @p.content %></textarea>
	  	</br>
	  	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>